// @import '../node_modules/bulma/bulma.sass';

// Colors
$blue: #5964e0;
$gray-lighter: #f5f6f8;
$dark-color-1: #131722;
$dark-color-2: #18202d;

// Bulma's global variables
$primary: $blue;

// Bulma's component variables
$body-background-color: $gray-lighter;

$input-shadow: none;
$input-border-color: none;
$input-hover-border-color: none;
$input-focus-color: none;
$input-focus-border-color: none;
$input-focus-box-shadow-size: none;
$input-focus-box-shadow-color: none;

$button-focus-color: none;
$button-focus-border-color: none;
$button-focus-box-shadow-size: none;
$button-focus-box-shadow-color: none;

$card-shadow: none;

$link-hover: #4e5ade;

// Styles

// Header
.main-header {
  border-bottom-left-radius: 5rem !important;
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
}

// Search
.search-section {
  position: relative;

  .card {
    position: absolute;
    width: 100%;
    top: -2.25rem;
  }

  &-control {
    width: 100% !important;
  }
}

// Jobs
.jobs-section {
  .card {
    width: 100% !important;

    .card-content {
      height: 100% !important;

      .content {
        flex-direction: column !important;
        height: 100% !important;

        .job-item {
          flex: 1;
        }
      }
    }
  }
}

// Company
.company-section {
  position: relative;

  .card {
    position: absolute;
    width: 100%;
    top: -2.25rem;
  }

  .card-content {
    padding: 3rem !important;
  }

  .content {
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    align-items: center;
  }

  img {
    height: auto;
    max-height: 60px;
    max-width: 100px;
    margin-right: 1rem;
  }
}

// Job
.job-section {
  padding-top: 10.5rem !important;

  .card-content {
    padding: 3rem !important;
  }

  .job {
    justify-content: space-between;
  }

  .apply {
    a {
      color: #fff !important;
      font-weight: bold !important;
    }

    a:hover {
      color: #e6e6e6 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .company-section .card-content,
  .job-section .card-content {
    padding: 2rem !important;
  }
}

.dark-theme {
  background-color: $dark-color-1;
  min-height: 100vh;

  strong {
    color: hsl(0, 0%, 86%) !important;
  }

  .card {
    background-color: $dark-color-2;
    color: hsl(0, 0%, 86%) !important;
  }

  .has-text-dark {
    color: hsl(0, 0%, 86%) !important;
  }

  a.has-text-dark:hover {
    color: hsl(0, 0%, 71%) !important;
  }

  .has-text-grey {
    color: hsl(0, 0%, 48%) !important;
  }

  .search-section {
    input[type='text'] {
      background-color: $dark-color-2;
      color: hsl(0, 0%, 86%) !important;
    }

    input[type='text']::placeholder {
      color: hsl(0, 0%, 48%) !important;
    }
  }
}

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
